{
  "presets": ["react"],
  "env": {
    "es6": {
      "presets": [
        ["env", {"modules": false}]
      ]
    },
    "development": {
      "presets": [
        "env"
      ]
    },
    "test": {
      "presets": [
        "env"
      ]
    }
  }
}
