{
  "presets": ["@babel/react"],
  "env": {
    "es6": {
      "presets": [["@babel/env", { "modules": false }]]
    },
    "development": {
      "presets": ["@babel/env"]
    },
    "test": {
      "presets": ["@babel/env"]
    }
  }
}
